<!-- Begin MailChimp Signup Form -->
<section class="gh-subscribe">
    <h3 class="gh-subscribe-title">Subscribe to {{site.name}}</h3>
    <p>Get the latest posts delivered right to your inbox.</p>

    <form action="//thesparktree.us12.list-manage.com/subscribe/post?u=8600f4c40c69856634ec2a2c8&amp;id=db2fcf78fd&SIGNUP={{ page.url | escape }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group form-group">
            <input type="email" value="" name="EMAIL" class="subscribe-email required email" id="mce-EMAIL">
        </div>
        <button class="" type="submit">Subscribe</button>

        <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_8600f4c40c69856634ec2a2c8_db2fcf78fd" tabindex="-1" value=""></div>
    </form>


    <span class="gh-subscribe-rss">or subscribe <a href="http://cloud.feedly.com/#subscription/feed/https://blog.thesparktree.com/feed.xml">via RSS</a> with Feedly!</span>
</section>


<!--End mc_embed_signup-->